body{
    margin: 0px;
    padding: 0px;
}
.wrap{
    width: 1150px;
    margin: 0px auto;
}
.head .logo {
    padding-top: 15px; 
    float: left;
    width: 200 px;
}
.head .menunav {
    float: right;
}
.head ul.menunav {
    list-style: none;
    margin: 20px 0px;
}
.head .menunav li {
    float: left;
    border-left:2px solid #fff;
    background: #383737;
}
.head .menunav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #4bbda5;
    font: 16px Verdana, sans-serif;
    text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;

}

/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/

.nav li{
	float:left;
	margin-right:3px;
	position:relative;
	display:block;
}
.nav li a:hover{
	color:#fff;
	background:#BA7694;
	background:rgba(247, 162, 198, 0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
.nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устнавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
.nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
	background:url(dot.gif);
}
.nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
.nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
    z-index: 5;
}
.nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background:#6b0c36;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}
.nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
.nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}
